[{Constants.cs,Node.cs}]
dotnet_diagnostic.CA1508.severity = none # Avoid dead conditional code
dotnet_diagnostic.CS8520.severity = none # The given expression always matches the provided constant.

[Game.cs]
resharper_redundant_assignment_highlighting = none # RedundantAssignment

[RandomizedSolver.cs]
dotnet_diagnostic.CA5394.severity = none # Do not use insecure randomness
